.scroll-view-wrapper {
	height: 100%;
	overflow: hidden;
}
.Pickup {
	margin: 30rpx;
	background-color: #fff;
	border-radius: 15rpx;
	padding: 35rpx;
	box-sizing: border-box;
	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.top_left {
			font-weight: 500;
			font-size: 32rpx;
			color: #2a2929;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.top_rig {
			width: 104rpx;
			height: 44rpx;
			border: 2rpx solid #ef4f3f;
			border-radius: 22rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ef4f3f;
			font-size: 24rpx;
		}
	}
	.conten {
		padding: 42rpx 0;
		border-bottom: 2rpx solid #f4f4f4;
		.conten_txt {
			font-size: 28rpx;
			color: #818181;
			display: flex;
			flex-direction: column;
			margin-left: 30rpx;
			padding: 0 44rpx;
			border-left: 2px dashed #ccc;
			position: relative;
			&::after {
				content: '起';
				width: 44rpx;
				height: 44rpx;
				background: #2a2929;
				border-radius: 22rpx;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: -22rpx;
				top: 0;
			}
			&::before {
				content: '止';
				width: 44rpx;
				height: 44rpx;
				background: #ef4f3f;
				border-radius: 22rpx;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: -22rpx;
				bottom: 0;
			}
			> text:first-child {
				margin-bottom: 29rpx;
			}
			> text:last-child {
				// margin-bottom: 29rpx;
			}
		}
	}
	.bom {
		display: flex;
		justify-content: space-between;
		margin-top: 29rpx;
		.bom_add {
			display: flex;
			flex-direction: column;
			> text:first-child {
				font-size: 28rpx;
				color: #818181;
			}
			> text:last-child {
				font-size: 28rpx;
				color: #2a2929;
			}
		}
		.btn {
			width: 160rpx;
			height: 64rpx;
			background: #ef4f3f;
			border-radius: 32rpx;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.disabled {
			background: #fadcd9;
		}
	}
	.task-blank {
		position: absolute;
		left: 50%;
		top: 40%;
		width: 201rpx;
		text-align: center;
		padding-top: 130rpx;
		background-image: url(https://sl-driver.oss-cn-hangzhou.aliyuncs.com/images/blank%402x.png);
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 24rpx;
		color: $uni-secondary-text-color;
		transform: translate(-50%, -100%);
	}
}
